.header {
    background-color: var(--bg-primary);
    .navi {
        padding: 1.5rem 5rem;
        .navi-group {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2.5rem;
            .navi-item a {
                font-size: 1.75rem;
                font-weight: 700;
                color: var(--text-neutral);
                line-height: 1.5;
            }
        }
    }
}
